<header class="mb-24 leading-snug [&_p]:my-0 relative">
  <div class="md:absolute md:-left-104 md:top-0">
    <p>
      <a class="font-medium no-underline text-xl" href="/">Miniblog</a>
    </p>
    <p class="text-muted-foreground">A minimal Astro blog template.</p>
  </div>
</header>